[2019-03-19 05:56] rdaly525 opened #11 "Lut bitvector constructor not supported by SMTBitVector"
in lut.py: 16 dynamically constructing a new bitvector out of an array of Bits is not supported.

@cdonovick, is this something you want to support, or is there a better way to write this code?

[2019-03-19 20:57] cdonovick commented on #11
I should support this but do not yet, is this blocking?

[2019-03-27 02:43] rdaly525 opened #20 "name_outputs incompatible with rtl generation"
I would like to use name_outputs as a decorator on the __call__ function. Currently this causes rtl generation to break, so I have to do a workaround.

[2019-04-04 21:30] rdaly525 opened #25 "Master is broken"
Looks like some mapper tests and rtl tests are failing.

Mapper tests fixed by #24

[2019-04-09 22:17] rdaly525 commented on #25
Fixed by #24

[2019-04-09 22:17] #25 closed

[2019-04-25 20:44] rdaly525 opened #27 "Flags are wrong for FPAdd"
We need to the flags to be correct in order to do all the floating point comparison operations. (<,<=,==,!=,etc...)

Ideally this can be done just using the already existent flags and that the cond.py does not actually depend on the instruction.

[2019-04-25 23:34] rdaly525 opened #28 "Better support for FPSub"
I propose there be a dedicated configuration bit that will can flip the sign bit of floating point values. This would prevent burning an additional PE when doing FPSUB. (You can flip the sign bit by first doing an XOR in a separate PE).

@alexcarsello, thoughts?

[2019-04-26 00:33] rdaly525 opened #29 "No way to map FP round currently to lassen."
Being able to do a FP round will give us round, ceil, and floor which are required from the Halide applications.

[2019-04-26 00:52] rdaly525 opened #30 "Other "micro" ops for the PE?"
Halide requires the use of the following complex floating point operations:

div, rem, log, exp, pow, sqrt, sin, cos, tan, asin, acos, atan2, tanh

We currently have a bunch of microps that are required to do the floating point divide algorithm. They are as follows:

FGetMant
FAddIExp
FSubExp
FCnvExp2F
FGetFInt
FGetFFrac

Are these microps sufficient to be able to do similar algorithms for the res

[2019-04-26 02:36] rdaly525 commented on #29
To be very clear here, the round function that we need takes in a float and produces a float. It does *not* cast it into an int.

[2019-04-26 02:37] rdaly525 opened #31 "Add support for casting from float to Int"

[2019-04-26 02:38] rdaly525 opened #32 "Add support for casting int to float"

[2019-05-07 02:37] Kuree opened #38 "Why VALID mode is removed from PE registers?"
During configuration when the chip is clock-gated, using `VALID` mode will prevent the register taking values. This mode was proven to be very critical when I was testing the Jade chip.

So the question is: is `VALID` got renamed to `DELAY` mode, or we can't never clock gate the register in the future? If that's the case, there should be extra graph analysis to make sure that register used in coun

[2019-05-07 02:46] Kuree opened #39 "Why is irq listed as PE output"
It seems like `irq` signal gets propagates into `canal` as a valid output. As a result, the `irq` signal goes to all the switchbox muxes, potentially increasing the area. What is this signal doing? Based on the code here:
https://github.com/StanfordAHA/lassen/blob/59095149bd7ce4f8e61e6e56f54ccd866a74d67c/lassen/sim.py#L257-L261
is `irq` a way to output constant 0 to the application network? If not

[2019-05-07 18:17] rdaly525 commented on #38
I removed this because the plan was to add this as a garnet pass.

My impression was that the enable signal should not come from the routing fabric. @Kuree is this not the case? We discussed this  ~1 month ago.

[2019-05-07 18:18] rdaly525 commented on #39
it looks like @priyanka-raina or @phanrahan added this. I am not aware of any plan to have an interrupt request. I think it can be safely removed. Pat and/or Priyanka, can you confirm this was not an intended feature?

[2019-05-07 18:19] rsetaluri commented on #38
The way we should do this is by adding a pass to insert the clock gating into all the registers in the PE and then wiring them to the stall signal.

[2019-05-07 18:25] Kuree commented on #38
The clock enable signal should come from the control logic which is separate from the routing fabric. My concern is that we are going to lose the ability to stall the registers at control level.

[2019-05-07 18:27] rdaly525 commented on #38
@Kuree, what are you requesting? Are you asking whether garnet can do this pass correctly?

[2019-05-07 18:30] Kuree commented on #38
I'm asking what's the plan for clock gating registers in PE.

[2019-05-07 18:36] rdaly525 commented on #38
Do you want control over which registers get clock gated? If not, then the plan (like Raj said) is to have a garnet pass which hooks up a stall signal to all of the registers which (should be) controlled by the global controller. @rsetaluri, can you confirm?

[2019-05-07 18:40] Kuree commented on #38
I was not aware of the plan. If that's the case it should work well.

[2019-05-07 18:41] rdaly525 commented on #38
Closing

[2019-05-07 18:41] #38 closed

[2019-05-07 19:21] rdaly525 commented on #39
PR in #40

[2019-05-07 19:22] rdaly525 opened #42 "Missing PE test for FPAdd"

[2019-05-07 19:30] rdaly525 commented on #30
@nikhilbhagdikar, Can you answer this or give me a timeline as to when you will figure this out?

[2019-05-07 20:49] nikhilbhagdikar commented on #29
Round can be implemented (f is a bloat number)
fi = int(f)
ff = frac(f)
fi = fi + (ff>=0x80)
fr = int2float(fi)

I have added int2float, so this is now doable.

[2019-05-07 20:53] nikhilbhagdikar commented on #30
div, rem, log, exp, pow, sqrt, sin, cos, tan have been tested. asin and acos should be similar to sin and cos in implementation. atan2 and tanh need to be worked on.

[2019-05-07 20:54] nikhilbhagdikar commented on #31
This was done sometime back.

[2019-05-07 20:54] rdaly525 commented on #31
@nikhilbhagdikar, can you add an explicit unit test showing how to do this?

[2019-05-07 21:07] rdaly525 commented on #30
@nikhilbhagdikar, can you add all of these tests to tests in the lassen repo? You can add a testing directory called tests/test_fp where you can add a unit test for each of the complex ops.

[2019-05-07 21:31] leonardt commented on #39
IRQ was used in the old PE (jade) as a debug/breakpoint trigger. See https://docs.google.com/document/d/1OXBBVk1exV1Fa65yBVIGxb6pd33UTEOqxWl0fBEhGRU/edit?usp=sharing for some more info on the old version of the PE spec. There was a configuration field for `debug_trig` and `debug_trig_p` which set the values to be watched and an `irq_en` field in the `op_code`.

I'm not aware of the plans for garne

[2019-05-07 22:02] Kuree commented on #39
Assuming we're following the old PE spec and add `irq` in the `op_code`, the signal itself should not go to the routing fabric. Given the fact that it's never used during testing, I'm leaning towards to drop it.

[2019-05-08 03:32] Kuree opened #43 "Broken lassen master branch"
See here: https://travis-ci.com/StanfordAHA/GarnetFlow/builds/110987402
and here: https://travis-ci.com/StanfordAHA/lassen/builds/110816257

In the future people should run the garnet flow to make sure that nothing is broken...

[2019-05-08 03:34] rdaly525 commented on #43
I will fix.

[2019-05-08 03:36] Kuree commented on #43
Thanks.

[2019-05-08 03:39] rdaly525 commented on #43
Fix in #44. Should fix Garnet as well.

[2019-05-08 04:03] #43 closed

[2019-05-10 03:12] Kuree opened #46 "Missing tests for LUTs"

[2019-05-10 18:33] Kuree opened #48 "Add comments on PE bitstream"
Currently there is no way to know what ops the PE bitstream corresponds to. In other words it's impossible to debug the PE. Can someone add ways to comment the bitstream so that a human programmer can understand what's going one?

[2019-05-10 18:55] Kuree opened #49 "DELAY mode doesn't work in RTL"
![Screenshot from 2019-05-10 11-44-41](https://user-images.githubusercontent.com/6099149/57549962-c780e280-7319-11e9-80ae-8c49efbbaf56.png)

Here we have a PE configured as `mult (1, reg)`, where `data0` is configured as a const register, and `data1` is configured as `DEALY`.
0: Single from `data0` connection box. Since `data0` is in `CONST` mode, as indicated in signal 2, this is expected
1: Sign

[2019-05-11 00:26] leonardt commented on #49
The issue was that in the test bench was setting the input values, then raising the clock causing a posedge which propagates the input values immediately. Changing the test bench to set the inputs while the clock was high, then stepping the clock a full cycle exhibited the correct behavior.

[2019-05-11 00:26] #49 closed

[2019-05-13 17:15] Kuree opened #50 "Wrong implementation for LTE_MIN"
https://github.com/StanfordAHA/lassen/blob/008a0da86b17848b7134c4532f7f9651df74e5df/lassen/sim.py#L77-L84

Someone needs to write more exhaustive tests on every op with multiple inputs.

[2019-05-13 17:36] rdaly525 commented on #48
@rsetaluri, I think this is relevant to garnet integration. Can you add the string version of the instruction in the bitfile for debug? You should just be able to call `str(instr)`

[2019-05-13 18:05] rsetaluri commented on #48
I'm a bit unclear on what you want to do. The point of the interfaces is that you configure the PE with an instruction which is abstract/human understandable. How would you "comment" the bitstream? Can you provide a concrete example of what you're looking for?

[2019-05-13 18:09] Kuree commented on #48
I'm not talking about instructions: I'm referring to bitstream, as in `0xFFFFFFFF 0xFFFFFFFF`.
For now it produces something like
[code]
I need something like
[code]

Unless I can train myself to recognize which bit fields means what, I have to refer to these annotated bitstream to debug the design.

[2019-05-13 18:16] rsetaluri commented on #48
Got it. This seems like something that should be done at the higher level, when the bitstream is output to file. Can you point to where this is happening?

[2019-05-13 18:51] rdaly525 commented on #46
Working on this currently.

[2019-05-13 21:27] leonardt opened #54 "add w/ external carry feature dropped?"
Right now the carry in for the normal add op is always set to 0 (see https://github.com/StanfordAHA/lassen/blob/master/lassen/sim.py#L60).  IIRC `jade` set the `cin` using a one-bit input (see https://github.com/StanfordAHA/CGRAGenerator/blob/master/hardware/generator_z/pe_new/pe/rtl/test_pe_comp.svp#L507) which enables the construction of a carry chain adder (e.g. for a 32 bit add).

Did we inten

[2019-05-13 22:08] rdaly525 opened #55 "Add the following complex ops to rewrute rule generation"
umin, umax, smin, smax

[2019-05-14 20:04] rdaly525 opened #59 "Invoke rewrite rule generation for master builds."

[2019-05-14 20:06] rdaly525 opened #60 "Add coveralls to lassen"

[2019-05-14 20:34] rdaly525 opened #61 "List of possibly missing ops we would like to be able to support in lassen"
- 32-bit Add
- 32-bit Mul
- Carry-in
- Counter mode
- qualified register (valid)
- Breakpoints/Watchpoints/IRQ

[2019-05-14 20:56] phanrahan commented on #61
Another question. Diablo had support for counters, which is not in Lassen. Do we need additional support for counters?

[2019-05-14 20:57] rdaly525 commented on #61
It would be great if we could support them. There are a lot of counters in jeff's applications. I do not think these were tested much (if at all) in Diablo.

[2019-05-14 22:50] rdaly525 opened #64 "Convert the complex ops into a peak class"
@nikhilbhagdikar, Can you do a PR off of 'float-test' and transfer your complex op algorithms into an inherited peak class? There is an explicit example of how to do this in the test test_complex.py with the FMA.

[2019-05-15 05:22] Kuree opened #66 "asr doesn't work at all"
When I was running Jeff's end-to-end tests, based on the waveform I've seen `asr` is not implemented correctly in RTL. See the waveform below.
![image](https://user-images.githubusercontent.com/6099149/57749755-4b2d2d00-7694-11e9-9398-2e5b96dad32b.png)

Then I went ahead and poked around inside lassen. Even if I added `asr` to RTL, the tests is still passing. That's odd. I then ask pytest to print

[2019-05-15 16:36] rdaly525 commented on #54
I think we should add it back in. Ill do a PR

[2019-05-15 16:37] rdaly525 commented on #50
@Kuree, can you confirm this can be closed?

[2019-05-15 16:59] #50 closed

[2019-05-15 17:27] leonardt commented on #66
Fault missing the error is from a regression introduced recently (good news because that means that errors could only have slipped through due to recent changes, which I hope there haven't been many).

This PR changed the logic to redirect stdout to a file (https://github.com/leonardt/fault/blob/7e117e56c4e414631bb1c40c1e1f28848f9cedc3/fault/verilator_target.py#L379) but a side-effect of that chan

[2019-05-15 17:29] Kuree commented on #66
`asr` is not padding signed bits in RTL. The functional model is correct though.

[2019-05-15 17:42] leonardt commented on #66
This fixes the verilator silent failure issue: https://github.com/leonardt/fault/pull/100 by setting `-o pipefail` before the verilator run command, investigating the RTL bug now, I suspect it's because it's generating a logical shift from mantle (instead of an arithmetic shift).

[2019-05-15 17:51] leonardt commented on #66
First issue was that mantle was not setting the `__rshift__` operator on the `SIntType` to be `asr` (so it defaulted to `LSR` inherited from the `BitsType`, fixed by https://github.com/phanrahan/mantle/pull/147

Test is still failing, I suspect due to a polymorphism (lack of magma support) issue, investigating this now

[2019-05-15 18:19] leonardt commented on #66
Tests is passing locally for me now, opened a PR https://github.com/StanfordAHA/lassen/pull/69, but depends on some upstream branches being merged.

[2019-05-15 18:26] Kuree commented on #66
Thanks for the quick fix!

[2019-05-15 18:55] Kuree opened #70 "signed ops is not working in RTL"
Probably the same issue with `asr`.

I haven't test `smin` yet, but I'm suspecting it's the same error.

See `smax` branch.

See: https://travis-ci.com/StanfordAHA/lassen/builds/111969902

[2019-05-15 19:37] rdaly525 opened #71 "Need memory specification:w in lassen for mapping and Garnet"

[2019-05-15 19:57] Kuree commented on #70
List of additional ops that doesn't work:
1. slt
2. sle
3. smax
4. smin

[2019-05-15 20:07] leonardt commented on #70
I suspect this is a similar issue to asr w.r.t. to polymorphism

[2019-05-15 20:09] rdaly525 commented on #27
The flags can be implemented using https://community.arm.com/developer/ip-products/processors/b/processors-ip-blog/posts/condition-codes-4-floating-point-comparisons-using-vfp

[2019-05-15 20:13] leonardt commented on #70
Fixed by df0d387, @Kuree I can pull it in, but I didn't see the tests for slt, sle, smin. Are they on a separate branch? Or could you push them.

[2019-05-15 20:14] Kuree commented on #70
I'll push them. I only have them on end-to-end tests. I will make unit tests.

[2019-05-15 20:16] leonardt commented on #70
Okay thanks, probably easiest to push them to the smax branch

[2019-05-15 20:33] Kuree commented on #70
Pushed. My mistake on `slt` and `sle`, I was using the wrong condition code. So far only `smax` and `smin` is not working.

Question though,  why `sle` and `slt` doesn't have signed set in `asm.py`?

[2019-05-15 20:35] leonardt commented on #70
That's likely a bug in the `asm.py` definition, but I'm not sure what the spec is supposed to be

[2019-05-15 21:01] rdaly525 commented on #70
I do not think that SLE nor SLT needs the signed bit set. The flags should be appropriately set based off of the subtract. Possibly a bug in the flags.

[2019-05-16 17:47] rdaly525 commented on #71
@rsetaluri @mbstrange, this is very high priority as this enables mapping applications using memory (convolution) as well as the Unified memory generator for @jeffsetter and @David-Durst

[2019-05-16 17:49] mbstrange commented on #71
Can you reassign this to mbstrange2? I don’t use mbstrange and I need to take it off the aha group – this is why I didn’t see this. I can send you this information later tonight.

Best,
Max

From: Ross Daly <notifications@github.com>
Reply-To: StanfordAHA/lassen <reply@reply.github.com>
Date: Thursday, May 16, 2019 at 10:47 AM
To: StanfordAHA/lassen <lassen@noreply.github.com>
Cc: Maxwell Strange

[2019-05-16 17:50] rdaly525 commented on #71
reassigned to the real Max Strange

[2019-05-16 17:58] rsetaluri commented on #71
@mbstrange2 I can help with this. Is there documentation anywhere on just the interface of the memory? (data ports + configuration space). Let me know any questions you have.

[2019-05-16 18:00] mbstrange2 commented on #71
There is not currently documentation, the memory_core.vp has the interface but I need to actually refactor the configuration to the top level for magma at which point it will be easiest to consolidate the configuration info

[2019-05-16 18:02] rdaly525 opened #72 "Leverage the functional tests to do RTL tests"
One major issue we have seen is that we are missing a lot of RTL unit tests in lassen. Due to the nature of Peak we should be able to parameterize the functional tests (test_pe.py) to also do RTL tests.

[2019-05-16 18:05] rdaly525 commented on #46
Fixed by #67

[2019-05-16 18:05] #46 closed

[2019-05-16 20:04] rdaly525 commented on #72
The agreed strategy was to add a parameter to each test in test_pe called 'pe' which can be set to be either the functional model from gen_pe(family) or a new function with the same interface that runs fault and the RTL. I think this can be accomplished with pytest fixtures. @Kuree said he could work on this.

One benefit of this is that we do not have to change any of the existing test code. We s

[2019-05-17 00:03] phanrahan commented on #72
@leonardt and I discussed this last week. We agreed that we should be testing the rtl using the same tests that we are using to test the lassen simulation.

[2019-05-20 06:27] nikhilbhagdikar commented on #32
This is done and was explained during previous meeting.

[2019-05-20 06:29] nikhilbhagdikar commented on #31
I explained this during previous meeting.
A = get_int(bfloat_var);
B = get_frac(bfloat_var);
if (B>0x80) A++;
I will add a complex test case.

[2019-05-20 06:31] nikhilbhagdikar commented on #30
These tests were checked in, but now need to be re-implemented in the new format requested by Ross. Ongoing.

[2019-05-20 06:33] nikhilbhagdikar commented on #28
Ross has implemented a better fpsub in lassen which shares the underlying FP Add hardware.

[2019-05-20 06:39] nikhilbhagdikar commented on #27
FP flags have been fixed and a separate cond section will be implemented for floating point ops by Ross/Caleb based on Monday's discussion.

[2019-05-20 06:42] nikhilbhagdikar commented on #64
This is ongoing.

[2019-05-20 22:33] Kuree opened #78 "Signed gte max not working"
See: https://travis-ci.com/StanfordAHA/lassen/jobs/201656574#L1389

[2019-05-20 23:28] #78 closed

[2019-05-20 23:28] #66 closed

[2019-05-20 23:28] #70 closed

[2019-05-21 00:25] rdaly525 commented on #72
#73 was merged to master

[2019-05-21 00:25] #72 closed

[2019-05-21 03:41] rdaly525 opened #82 "Update complex op tests"
@nikhilbhagdikar I have isolated your complex ops tests into a separate branch called 'complex-float'. Can you change them to inherent from peak in that branch?

Again, in general please do small pull requests that do not have multiple orthogonal changes.

[2019-05-21 04:58] rdaly525 opened #84 "Floating point lassen implementations seems to be wrong endianness."
Floating point numbers should have their fractional bits as their lsbs, and their sign bit as the msb.

@nikhilbhagdikarI I suspect you have done the opposite in your lassen implementation for most of the fp ops.

I have a branch called 'float-test' that contains your floating point changes along with some more parameterized tests.

on this branch, you can run:
`>pytest -k get_mant`

and you will

[2019-05-21 05:01] rdaly525 commented on #84
@cdonovick, can you confirm that the test_get_mant (in test_pe.py) is a valid test?

[2019-05-21 17:33] cdonovick commented on #84
@rdaly It looks like you are defining bfloat incorrectly.  It should be `FPVector[8, 7, ...]`.  I'm also not sure how you are constructing from the fpdata tuple.  I'm also not sure how it is being cast from FPVector Bitvector.  FGetMant looks correct to me.

Caveat I am trying to do this review on my phone while waiting in the security line at the airport so I might have missed something.

https:/

[2019-05-21 17:34] Kuree opened #88 "Please update the Garnetflow requirements when you use non-released version of packages"
I will work on a solution that will block merge if the PR fails GarnetFlow.

[2019-05-21 17:39] rdaly525 commented on #88
@Kuree, Are you referring to the FP hwtype changes? I asked you to make the changes required for this.

[2019-05-21 17:40] #84 closed

[2019-05-21 17:45] Kuree commented on #88
No I'm referring to the install requirements here: https://github.com/StanfordAHA/lassen/blob/master/.travis.yml#L30

[2019-05-21 17:48] rdaly525 commented on #88
Sorry, I am still confused. What is your expected flow?

My flow is:
create branch fp on hwtypes
create branch on lassen pointing to hwtypes:fp
merge lassen branch
merge hwtypes branch
New PR in lassen to point to hwtypes master.
delete hwtypes:fp branch

What is your proposed flow?

[2019-05-21 17:49] rdaly525 commented on #88
Pointing this branch to hwtypes FP is just a way to make sure master will always pass and will only be in temporarily.

I am open to other ideas.

[2019-05-21 17:51] Kuree commented on #88
My expected flow is
- create branch fp on hwtypes
- create branch on lassen pointing to hwtypes:fp
- *make a branch in GarnetFlow reflects the changes and make sure it passes*
- merge lassen branch
- merge hwtypes branch
- New PR in lassen to point to hwtypes master.
- delete hwtypes:fp branch
- *adjust changes in GarnetFlow*

I thought the ultimate goal of this project is to make sure the end-to-

[2019-05-21 17:55] rdaly525 commented on #88
Sure that is fine.

If you come up with a good way to block merge based off of downstream dependencies, I would request to not have it build the repo for normal travis builds (only for PRs)

[2019-05-21 18:15] Kuree opened #89 "mux not mapped correctly"
See https://travis-ci.com/StanfordAHA/GarnetFlow/jobs/201924953#L4299

[2019-05-21 23:01] rdaly525 commented on #39
Started irq branch called 'irq'

[2019-05-22 03:23] Kuree opened #94 "FP add/mult not working"
See https://buildkite.com/stanford-aha/lassen/builds/1#f7512cd6-f12f-455e-980a-3f25eafa2a84

Just a side note:
From now on every push and PR in lassen will trigger buildkite build, which tests the floating point ops with `CW` files. If you want to debug, please use `kiwi` to test locally.

EDIT:
I will improve the `rtl_tester` to intelligently choose different simulator based on the environment it

[2019-05-22 23:08] leonardt commented on #94
Fixed by https://github.com/StanfordAHA/lassen/pull/95

[2019-05-22 23:30] #94 closed

[2019-05-23 15:28] rdaly525 opened #98 "Lassen Tapeout Task List"
Resolving/Missing Features
- [x] Counter - dropping
- [x] Breakpoints/IRQ - Not dropping
- [x] Floating Point Comparison/flags, Ross, Nikhil
- [x] Resolve differences between python gmpy2.mpfr implementation and design ware, Caleb, Ross, Nikhil
- [x] clk_en/Register Valid
- [x] Carry in
- [x] compare specification of instructions to both python simulator and RTL, Lenny, Keyi

Missing randomized Te

[2019-05-29 21:24] steveri commented on #32
@rdaly525 nikhil says this is done...should we close this issue?

[2019-05-29 21:27] phanrahan commented on #32
Do we have a comprehensive set of unit tests?

[2019-05-29 21:40] steveri commented on #28
@rdaly525 looks like this has been resolved? should we close the issue?

[2019-05-29 21:41] steveri commented on #29
@rdaly525 so...looking at the comments...this is resolved?

[2019-05-29 21:48] steveri commented on #32
I guess this is a question for @nikhilbhagdikar and/or @Kuree ?

[2019-05-29 23:11] steveri commented on #98
Do we have tests for comparison opa (gt, ge, lt, le, eq, neq)? This is still an unchecked (May 15) goal (https://github.com/StanfordAHA/Private/blob/master/goals/unified_goals.md).

[2019-05-29 23:54] rdaly525 opened #104 "IRQ discussion"
I have a preliminary branch implementing IRQ in lassen called 'irq'

The features currently are that for both the alu output and the single bit output, you can enable irq along with a comparison value. If at any time during running the comparison is true, the PE will output a 1 on the irq output along with latching that 1 in a register in the PE. The reason for this latch is so that the SOC can ea

[2019-05-31 05:05] #89 closed

[2019-05-31 05:06] Kuree opened #105 "sle not mapped properly"
See https://travis-ci.com/StanfordAHA/GarnetFlow/jobs/204405717#L2120

[2019-06-01 18:56] rdaly525 opened #106 "Add test to use all rules in rules/all.json"

[2019-06-03 17:49] steveri commented on #30
Note to self(s), also see task list https://github.com/StanfordAHA/lassen/issues/98 under "Missing randomized Tests" -> "complex ops"

[2019-06-03 18:01] steveri commented on #98
Should FPAdd, FPSub tests be on this task list? I notice it is still an open issue https://github.com/StanfordAHA/lassen/issues/42

[2019-06-03 21:19] rdaly525 commented on #106
fix in #107

[2019-06-03 21:19] #106 closed

[2019-06-04 03:06] Kuree opened #109 "Match Halide execution to floating point IPs"
The `bfloat` implementation in Halide seems to be consistent with the IP with `rnd=1`. It would much easier if we can use that mode instead.

[2019-06-04 03:09] mahorowitz commented on #109
I think we should check which path is doing what type of rounding, and not just make the hardware match our Halide implementation.  I thought the hardware was doing round to nearest even, which is what I think we want.  If Halide is just doing round to nearest, we probably should change Halide, and not the hardware.  But I could be completely wrong on what is implemented on either side

[2019-06-04 03:15] Kuree commented on #109
IEEE defines 5 different valid rounding rules:https://en.wikipedia.org/wiki/IEEE_754#Rounding_rules
I believe any of them are IEEE compliant implementation.

We will see if we can change Halide's behavior tomorrow.

[2019-06-04 05:36] mahorowitz commented on #104
I think the IRQ should be output in the cycle it is created, since that will allow us to stop the clock before the next cycle (and state change) if we clock it slow enough.

I think that the IRQ should continue to be asserted until explicitly reset, though I think it could be built either way.

Including other comparisons requires a complete adder in the comparison unit.  While I don't object to d

[2019-06-04 22:51] rdaly525 commented on #109
<img width="651" alt="Screen Shot 2019-06-04 at 3 50 34 PM" src="https://user-images.githubusercontent.com/14632648/58918794-9f01c380-86e0-11e9-9a1f-57712730b694.png">

Here are the rounding modes for the IP

[2019-06-04 22:52] rdaly525 commented on #109
I am surprised that Halide does not use round to nearest even.

@jeffsetter, can you investigate exactly what rounding mode is being used by halide?

[2019-06-04 22:55] Kuree commented on #109
@rdaly525 We're implementing rnd=0 mode in Halide right now.

[2019-06-04 22:59] rdaly525 commented on #109
So, just to be clear: Halide's implementation is RNE and RTL's implementation is RNE, but we are getting different results?

[2019-06-04 23:01] Kuree commented on #109
Halide is using rnd=1 and we're using rnd=0 in RTL. We will change the Halide implementation to match with the RTL.

[2019-06-05 06:14] Kuree opened #111 "Rounding mode mismatch with the hardware"
Two problems:
1. The rounding mode, which is round to nearest even, in the functional model and RTL does not match. See: https://buildkite.com/stanford-aha/lassen/builds/109#712c5179-b555-4ddb-8fd3-6da54ebba32b
The functional model is using `mpfr`, which I believe should also be correct.

2. When using `-v` with `pytest`, fault doesn't catch the error yet running individually does. There is someth

[2019-06-05 15:29] leonardt commented on #111
For 1., the output shows:
[code]

If i'm not mistaken, I believe that means that the functional model expects 4117 and the RTL got 4116, if we're rounding to the nearest even, then 4117 doesn't seem right?

[2019-06-05 15:45] leonardt commented on #111
For 2. I suspect this is an issue related to the TB rather than fault because it's correctly identifying the error in the single run case, but perhaps it's an issue with how fault is generating the TBs for multiple tests. Perhaps it's the fact that all the tests are being run in the same `test_dir`, maybe ncsim is not recompiling something when it should be? (Perhaps it's using an old test bench r

[2019-06-05 16:31] Kuree commented on #111
My educated guess for 1 is that the rounding depends on how many extra precision bits you have. In the test, we have
[code]
If we have more than 1 bits used for rounding, then clearly it should round up, hence 0x4117. If we only have 1 bit for rounding, then we shouldn't round since 0x4117 is odd.

[2019-06-05 16:54] leonardt commented on #111
Ah, I forgot we were considering FP numbers, I was interpreting as an integer

[2019-06-05 17:10] leonardt commented on #111
Curiously on kiwi, running `pytest tests/test_pe.py -xv` does result in the failure on `fp_mult`, I'm going to confirm the error isn't present when doing `pytest tests/ -xv` (I believe this is what I saw when I did my initial local checkout, but I'll double check. This might suggest that another test file is causing some sort of conflict.

[2019-06-05 17:14] steveri commented on #111
Do the tests depend at all on Python floating-point implementation, and thus could Python/C++ version/lib differences on kiwi vs. other machines explain the difference?

[2019-06-05 17:23] leonardt commented on #111
I believe they use the `libmpfr` implementation, but the issue is that the output from our functional model (based on `libmpfr`) is not consistent with the RTL simulation (which uses the CW primitives with `rnd('h0)`).

[2019-06-05 17:26] leonardt commented on #111
Could the issue be related to how the multiply is promoting the inputs (concating 0s to the end) and truncating the output (see use of `result_x`)? Also the fact that `frac_bits` has 3 added to it? These are the various configuration parameters I see that might be related to the issue. Also `ieee_compliance`?
[code]

[2019-06-05 17:28] Kuree commented on #111
@leonardt Yes we believe this is the issue. We're still investigating the issue now. There are more problems with the IP stub.

[2019-06-05 17:30] Kuree commented on #111
Update:

We have located the bug, which is due to the extra 3 bits in the initialization. However, there is another bug in the `CW_fp_mult.v` that prevents us using 7-bit.

[2019-06-05 17:31] leonardt commented on #111
Okay, update on issue 2, weirdly enough, running `pytest tests -v` the failure is missed, but running `pytest tests -xv` the failure is caught, this is odd.

[2019-06-05 17:33] rdaly525 commented on #111
I forgot about the extra precision bits. I think the appropriate solution is to modify the coreir stub to make it use the exact correct bits. If we want higher precision we can specify that at the peak/magma level

[2019-06-05 17:35] Kuree commented on #111
The valina `CW_fp_mult.v` doesn't allow you to use correct precision bits. Due to the copyright I can't post it here, but if you look at line 60-62 you'll see the bug.

[2019-06-05 17:53] leonardt commented on #111
For me locally, it seems to reliably catch the failure when running `pytest -xv tests` and reliable miss the failure when running `pytest -v tests`. Perhaps we can use `-x` as a temporary unblocker (not great in some cases because you'll only see the first failure, whereas it can be useful to see all failures, but in other cases it's useful to kill the run early on the first failure). It's not ide

[2019-06-05 17:57] rdaly525 commented on #111
@Kuree, are you saying there is also a bug actually in the IP itself? Currently coreir instances the verilog stub with an extra 3 bits of fractional precision, so I know that is likely part of the issue.

I will work on a coreir fix for this

[2019-06-05 17:59] Kuree commented on #111
@rdaly525 Yes I believe so. You can check it out and read the lines I pointed out above.

In the short run we can write a `sed` script to fix the bug.

[2019-06-05 18:12] rdaly525 commented on #111
I have a coreir branch 'float-fix' that updates the CoreIR instantiating the multiply. @Kuree, does this fix the issue?

https://github.com/rdaly525/coreir/pull/753

[2019-06-05 18:15] rdaly525 commented on #111
Also if we do actually want the multiply to have 3 extra bits of precision, we need to update the lassen description to concat 3 bits to the inputs, then put it into the appropriate BFloat[8,7+3] multiply operator, then update the tests to match these semantics.

[2019-06-05 18:20] Kuree commented on #111
I don't think we need extra 3 bits of precision. You have to round somewhere anyway and it's difficult to match of other tools.

[2019-06-05 18:51] steveri commented on #42
Should be part of https://github.com/StanfordAHA/lassen/issues/98 Lassen Tapeout Task List, yes? But I don't see it there...

[2019-06-05 20:27] leonardt commented on #111
okay, even stranger, I just had a run with `pytest tests -v` catch the error. @Kuree is there any possibility of this test failing non-deterministically? Or is the bug deterministic?

[2019-06-05 20:40] Kuree commented on #111
This bug is deterministic since it's caused by improper instantiation of the IP.

[2019-06-05 20:51] leonardt commented on #111
weird, I seem to be getting consistent failures (2 in a row at least) with `pytest tests -v` now, I'm not exactly sure where to continue for debugging the issue, perhaps this is related to the buildkite environment? I'll look at the buildkite script to see if there's anything potentially interesting there. maybe it has to do with the docker flow, so I can try recreating that.

It's strange that I

[2019-06-05 20:54] Kuree commented on #111
I can reproduce the same problem inside the buildkite docker environment last night, so I doubt it has something to do with the buildkite.

I think for the best interest of saving time, we can put `-x` flag there and monitor if the problem is going to resolve in the future.

[2019-06-05 20:58] leonardt commented on #111
Oh I found something interesting in the buildkite logs:
This run https://buildkite.com/stanford-aha/lassen/builds/104#eeab0d8b-a96e-45ed-aa84-ef2e392fb4de/6 from https://github.com/StanfordAHA/lassen/commit/ea7f165f73cc293ca3c3d63a9a03a89bb22a81fb enables the `-s` flag to see the stdout.

If we search the log for `fp_mul`, we see
[code]

Notice that in the previous test (`tests/test_pe.py::test_fp

[2019-06-05 21:00] Kuree commented on #111
Hmm, can you force `fault` to `touch` the test bench file to make sure the modified time has changed?

[2019-06-05 21:29] rdaly525 commented on #111
This is from Nikhil's email:

I think the bug is in the way the multiplier is instantiated. Since CW_mult does not support a 7 bit mantissa (minimum is 10 bits), we had to instantiate with a 10 bit mantissa. So CW rounds to nearest even for that precision, and not for the 7 bit precision we need. I have pasted verilog code below that should round it to nearest even for our precision (note that CW

[2019-06-05 21:37] leonardt commented on #111
There's a couple ways to address the issue, but what I did for now is to have the `lassen` test remove the generated `tb` file if it exists to hopefully force ncsim to recompile, see https://github.com/StanfordAHA/lassen/commit/1705e476036866af165c24038f080ffab5eee1a5 also changed the test script back to run them all with https://github.com/StanfordAHA/lassen/commit/dc58b42a0731cc9c98ffd47858553f0

[2019-06-05 21:39] leonardt commented on #111
And it doesn't... https://buildkite.com/stanford-aha/lassen/builds/114#18608758-0e21-40a8-bdad-f92fe698ff65

[2019-06-05 21:40] leonardt commented on #111
I'll run with `-s` to see if it's a similar message from ncsim (skipping the recompile step)

[2019-06-05 21:43] Kuree commented on #111
@rdaly525 What's the plan for the RTL? Are you going to hard-code the verilog fix in (I will verify the fix later today).

[2019-06-05 21:45] rdaly525 commented on #111
In my opinion, it would be easier to verify the fix directly in peak by running functional tests and comparing the semantics of the code that nikhil wrote vs BFloat16.

[2019-06-05 21:49] leonardt commented on #111
Weird, I added a `print` to make sure that the test bench file was being removed before fault regenerated it, then the output looks like
[code]

so it seems that even if I force remove that file before generating a new `_tb`, ncsim still uses the cached `worklib`. I could try deleting the intermediate worklib files

[2019-06-05 21:51] Kuree commented on #111
@leonardt. If you remove `worlib`, then it's the same thing as use a temp folder since `ncsim` won't be able to use cached version anymore. This will make the runs much slower, but should avoid the bug.

[2019-06-05 21:54] leonardt commented on #111
I'll try that first to see if that avoids the error, so we know the issue, then we can investigate how we can get ncsim to force recompile our `_tb`

[2019-06-05 22:18] leonardt commented on #111
Ah, I saw this in the output:
[code]
so maybe it has to do with whether a full test run takes under 1 second, so i'm going to try adding a `time.sleep(1)`

[2019-06-05 22:37] leonardt commented on #111
Adding `time.sleep(1)` also fixes the issue, see https://buildkite.com/stanford-aha/lassen/builds/121#a3c84cda-fb2c-4133-adda-7ce4e3a31e33

but this makes the tests run quite a bit slower (because most of them take under a second), not sure what the best workaround is here. we could benchmark nuking `INCA_libs` (forcing full recompile) versus `time.sleep(1)`

[2019-06-06 01:22] leonardt commented on #111
Issue seems to be resolved using fault's timestamp-edit branch (https://github.com/leonardt/fault/pull/116), see https://buildkite.com/stanford-aha/lassen/builds/131#b4859b6e-ad64-47da-8104-98a5b23ef0ad

[2019-06-06 18:02] phanrahan commented on #104
Do we have a signal to reset the IRQ? Do we need to reset individual IRQs or single PEs.  It seem too late to make these changes to me.

[2019-06-06 19:40] rdaly525 commented on #104
We would need garnet to add the logic to read and write to these bits which already needs to be done for the other data registers in the PE. @rsetaluri

[2019-06-06 20:55] phanrahan commented on #98
The register VALID mode is not implemented. Can we remove that test?

[2019-06-06 22:04] mahorowitz commented on #104
As Ross said, I think this should be able to be read/written from the configuration bus.  It is almost more a configuration state that the hardware can set.

[2019-06-06 22:06] rdaly525 commented on #104
Although one slight caveat is that if garnet is also going to inject an 'en' into each of the registers for stalling purposes, the IRQ register should *not* be stalled.

[2019-06-10 20:59] Kuree opened #117 "Lassen read/write registers"
@rdaly525
Peak core needs to output the following ports:
- `config_addr` -> this is 8 bits.
-  `config_data` -> this is 32-bit wide
- `read_config_data` -> this can be any size
- `config_en` -> this is the write signal
- `reset` -> 1-bit signal that sets everything to zero

Notice that there is no read signal (sorry I lied). The core should always returns the values to `read_config_data` given the

[2019-06-10 21:30] Kuree commented on #117
EDIT: updated `reset` signal requirements.

[2019-06-11 17:39] rdaly525 commented on #117
@Kuree,

how does the following address mapping sounds:
config_addr[0:2] == BitVector[3](3) => Data0, and Data1 register
config_addr[0:2] == BitVector[3](4) => Bit0,Bit1,Bit2 registers.

[2019-06-11 17:40] Kuree commented on #117
Sounds good.

[2019-06-11 18:07] rdaly525 commented on #117
@leonardt, I have a branch called 'config' in which I am adding these ports and this logic.

I needed to update mode.py to always output the register value along with the appropriate value based off the mode (so 2 outputs). Once I do this, I get the following error:

[code]

[2019-06-11 18:28] leonardt commented on #117
@rdaly525 sequential only supports one output, I'll have to add that feature to magma, it may take some time.

[2019-06-11 18:37] leonardt commented on #117
Okay magma branch `sequential-multiple-outputs` adds initial support for this, but having a hard time testing because it avoids the above error but gets to

[code]

The issue is that
[code]
doesn't type check. `config_addr[0:2]` is a 2 bit value, `BitVector[3]` is a 3 bit value, @rdaly525 what's the expected code? Should tje config_addr slice be a 3 bit value?

[2019-06-11 18:39] rdaly525 commented on #117
Oh, I screwed up the indexing (it should be 3 bits). I wasnt able to get that far in my testing. Ill use the multiple outputs branch

[2019-06-11 18:40] leonardt commented on #117
Okay, the change to magma was fairly small, so I'm not exactly sure if it works, let me know if you run into a problem, I'll try to craft a standalone magma unit test to verify it's functionality

[2019-06-11 20:22] rdaly525 commented on #117
@Kuree, the branch config should be in a state which you could start trying to integrate it into garnet.

I just need to update the rest of the tests and write some more unit tests.

[2019-06-11 20:25] rdaly525 commented on #117
@leonardt, can you look at this branch again?
Latest magma error: when running pytest tests/test_pe.py

[code]

[2019-06-11 21:07] rdaly525 commented on #117
@Kuree, changed config_addr to 8 bits

[2019-06-11 23:00] Kuree opened #120 "FP mult not working"
Continuing on testing float pointwise. Create a new issue since the old one is too long: https://github.com/StanfordAHA/lassen/issues/111.

Build log: https://buildkite.com/stanford-aha/lassen/builds/194#65c1f0d0-c89a-47d4-97b9-5064d65ceaf5/80-1018

[2019-06-11 23:03] Kuree commented on #120
![image](https://user-images.githubusercontent.com/6099149/59312524-4db67e80-8c62-11e9-8af4-32d9d1f9b6dc.png)

This is the output comparison against Halide's bfloat implementation. We think that one should match with lassen's functional model.

[2019-06-11 23:05] Kuree commented on #111
Moved the discussion to https://github.com/StanfordAHA/lassen/issues/120, since this issue also covers another bug.

[2019-06-11 23:05] #111 closed

[2019-06-12 21:41] rdaly525 opened #123 "Lassen Bug Tracker"
FP_Mult Error mode issue
-Problem: RTL mismatched FPVector and Halide due to wrapper
-Solution: Use DW FP IP instead
-Verification: Lassen RTL tests
-Can be resolved today

SLT/SGT Bug
-problem: SMT cannot infer SLT and SGT. But the random tests are passing
-Solution: Still debugging (Caleb)
-Verification: Automapper finding SLT and SGT

SubExp Bug
-problem: A small portion of random tests (~5%) a

[2019-06-12 22:29] leonardt commented on #123
RE: SubExp Bug

Can you point to an example failure? It would be useful to get the specific inputs causing the failure so we can debug it. Is this on master?

[2019-06-12 22:56] rdaly525 commented on #123
actions = [Poke(WrappedPE.inst, 42081637117181558932), Poke(WrappedPE.CLK, 0), Poke(WrappedPE.data0, 22666), Poke(WrappedPE.data1, 31920), Eval(), Expect(O0, 7050)]

Got      : 0x3ddf
Expected : 0xbddf
i        : 5
Port     : WrappedPE.O0

[2019-06-12 23:00] leonardt commented on #123
RE: SubExp Bug we believe this was because an old version of fault was not generating the sigend values properly, we will assume it's fixed unless it pops again either locally for someone or on buildkite/travis

[2019-06-12 23:01] rdaly525 commented on #123
SLT/SGT bug is due to hwtypes issue here: https://github.com/leonardt/hwtypes/pull/52

[2019-06-13 06:24] rdaly525 opened #128 "Better pytest generator for NANs in test_micro.py"

[2019-06-14 04:32] #120 closed

[2019-06-14 04:32] #117 closed

[2019-06-14 04:32] #109 closed

[2019-06-14 04:33] #88 closed

[2019-06-14 20:18] leonardt commented on #123
I believe these have all been resolved, please re open if that's not the case

[2019-06-17 19:22] cdonovick commented on #123
leonardt/hwtypes#52 was never merged

[2019-06-17 19:37] leonardt commented on #123
merged

[2019-06-17 19:37] #123 closed

[2019-06-17 19:38] leonardt commented on #123
(release in process) https://travis-ci.org/leonardt/hwtypes/builds/546921411

[2019-06-17 20:44] cdonovick opened #134 "Tests should be able to run in parallel"
`pytest --workes=auto test_micro.py` and `pytest --workes=auto test_pe.py` fail.

Given how long `test_pe.py` takes it would be nice to run it in parallel.

[2019-06-17 21:42] rdaly525 opened #136 "Add test that will verify circuit equivalence for generated RTL vs RTL-freeze RTL"

[2019-06-18 23:52] leonardt commented on #134
Are you using pytest-parallel or pytest-xdist?

[2019-06-18 23:54] cdonovick commented on #134
-parallel.  Does xdist work?

[2019-06-18 23:56] leonardt commented on #134
Doubt it, wanted to know to lookup the API for getting the thread ID so each thread can create their own unique test/build directory, but that has complications, so I think it makes more sense to do the approach you sketched (each test copies the required files to a tempdir)

[2019-06-19 21:32] #28 closed

[2019-06-19 22:08] rdaly525 commented on #104
We are not using this feature.

[2019-06-19 22:08] #104 closed

[2019-06-19 22:08] #82 closed

[2019-06-19 22:09] rdaly525 commented on #64
This has been completed from #112

[2019-06-19 22:09] #64 closed

[2019-06-19 22:11] rdaly525 commented on #61
We have support for 32-bit Add (carry-in), but we are not supporting Breakpoints/IRQ, counter mode, and a dynamically enabled register.

There are workarounds for qualfiied register by using another PE to for the enable Mux.
Workarounds for 32-bit mul is that we can use more PE tiles
Workaround for counter mode is to just use multiple PE tiles

[2019-06-19 22:11] #61 closed

[2019-06-19 22:13] rdaly525 commented on #54
Fixed by #86

[2019-06-19 22:13] #54 closed

[2019-06-19 22:13] rdaly525 commented on #39
IRQ is removed

[2019-06-19 22:13] #39 closed

[2019-06-19 22:15] rdaly525 commented on #42
This test is in master under test_fp_binary_op

[2019-06-19 22:15] #42 closed

[2019-06-19 22:16] rdaly525 commented on #30
All these micro ops are in master

[2019-06-19 22:16] #30 closed

[2019-06-19 22:17] rdaly525 commented on #27
This has been resolved by #99

[2019-06-19 22:17] #27 closed

[2019-06-19 22:20] rdaly525 commented on #11
This feature has been added and is in use in sim.py

[2019-06-19 22:20] #11 closed

[2019-06-19 22:22] rdaly525 commented on #32
This is done in test_micro.py in the following tests:

test_sint_to_float
test_uint_to_float

[2019-06-19 22:22] #32 closed

[2019-06-20 18:16] rdaly525 opened #139 "More Complex Ops"
We need Round, Floor and Ceil. If we have one of these ops, the other two are very easy to create by just adding or subtracting 0.5 appropriately.

@nikhilbhagdikar, could you add these to our complex ops (in lassen/stdlib/) and add some tests?

For the tests, please use hwtypes.FPVector in order to construct and manipulate python floating point values

[2019-06-20 18:17] rdaly525 opened #140 "Convert the complex op tests to use hwtypes.FPVector"

[2019-06-20 20:09] steveri commented on #139
@rdaly525 @nikhilbhagdikar Is this not the same as https://github.com/StanfordAHA/lassen/issues/29 ?

[2019-06-20 20:11] rdaly525 commented on #139
You are correct

[2019-06-20 20:11] #139 closed

[2019-06-20 20:14] rdaly525 commented on #29
The explicit task is the following:

- [ ] Write 'Round' complex op in lassen/stdlib
- [ ] Write a test for Round using hwtypes.FPVector (please do not use float2bfbin/bfbin2float)
- [ ] Write 'Ceil' complex op in lassen/stdlib
- [ ] Write a test for Ceil using hwtypes.FPVector (please do not use float2bfbin/bfbin2float)
- [ ] Write 'Floor' complex op in lassen/stdlib
- [ ] Write a test for Floor

[2019-06-20 20:15] rdaly525 commented on #29
@nikhilbhagdikar, if you need an example of how to use FPVector, you can refer to tests/test_pe.py

[2019-06-20 20:28] cdonovick commented on #29
I can try to take on round

[2019-06-24 16:30] cdonovick commented on #29
We can partially implement round by cascading FCnvInt2F and FGetFint (int2float and float2int).  However it  only works for a sub range of floats* also it implements round to 0 (floor on positive, ceil on negative).  So `round(-.7) == round(.7) == 0` and `round(1.2) == round(1.7) == 1`

*empirically it works (-BOUND, BOUND) for BOUND=2<sup>15</sup>-2<sup>6</sup>-1

I think we could implement a ful

[2019-06-24 16:32] cdonovick commented on #29
@nikhilbhagdikar If you have any ideas on how to do any of this with fewer PEs let me know

[2019-06-24 16:45] rdaly525 commented on #29
@cdonovick, thanks for doing this analysis. @jeffsetter, could you comment on the range issue for halide applications? Specifically, what sets of applications could we get away with using the Bounded round?

[2019-06-24 16:56] jeffsetter commented on #29
*empirically it works (-BOUND, BOUND) for BOUND=`2^15-2^6-1`

Since the range of bfloat is approximately `+- 2^127`, this rounding loses many orders of magnitude of the bfloat range. Essentially this renders the rounding to integers and omits rounding of large floating point numbers entirely.

[2019-06-24 16:58] jeffsetter commented on #29
It is unclear to me if the above strategy is the only one possible for rounding. Is the algorithm I use in Halide not possible or correct for this objective?
https://github.com/StanfordAHA/Halide-to-Hardware/blob/handcrafted/src/EmulateFloat16Math.cpp#L220

[2019-06-24 17:16] cdonovick commented on #29
@jeffsetter just to be clear we talking about implementing a round operations bfloat->bfloat (round(1.2) == 1.0, round(12.0) == 12.0) where only fractional parts (mantissa bits that have value < 1) are rounded.  It looks like you are rounding ieee 754 singles to bfloat which is a very different task.

[2019-06-24 21:07] cdonovick commented on #29
Github is stupid, partially resolves != resolves

[2019-07-07 17:55] rdaly525 commented on #140
@nikhilbhagdikar, any update?

[2019-07-07 17:56] rdaly525 opened #144 "Move reading/writing logic outside of lassen description"

[2019-07-08 18:01] priyanka-raina opened #145 "Add tests for the following complex ops"
- [ ] min
- [ ] max
- [ ] round
- [ ] ceil
- [ ] floor
- [ ] sin
- [ ] cos
- [ ] tan
- [ ] arc sin
- [ ] arc cos
- [ ] arc tan
- [ ] neg
- [ ] abs
- [ ] sqr
- [ ] power

[2019-07-24 20:18] rdaly525 opened #146 "Mapper/Packer tasks"
- [ ] automatically generate compile complex op rewrite rules
- [ ] Full Halide test suite for mapper rewrite rules
- [ ] Implement Instruction selection
- [ ] Implement hierarchical packing

[2019-07-24 22:54] #98 closed

[2019-09-26 22:23] rdaly525 opened #149 "Warnings need to be fixed"
The #148 PR is passing with the exception of travis killing it due to the log being too long.

If you download the raw log here, you can see that message at the bottom.
https://travis-ci.com/StanfordAHA/lassen/builds/129343573

The log is too long due to there being warnings in the code. These warnings are coming from peak.auto_assembler

[2019-09-27 16:56] leonardt commented on #149
This should help https://github.com/StanfordAHA/lassen/pull/150

Depends on a peak branch https://github.com/cdonovick/peak/tree/move-assembler-utils

Waiting for the travis build

[2019-09-27 17:18] leonardt commented on #149
It looks like metamapper is still triggering a warning

[code]

I'm debugging the buildkite build, it looks to be an environment issue.

[2019-09-27 17:52] rdaly525 commented on #149
I have a branch on Metamapper called "warnings" that fixes these issues. Trying to fix the travis on that repo before I merge though.

[2019-09-27 21:03] leonardt commented on #149
Okay tests seem to be proceeding along in buildkite https://buildkite.com/stanford-aha/lassen/builds/333#b73aa5bb-7a8b-4ede-bf1a-828105b9b4ca, with the metamapper warning branch this build should be back to green soon

[2019-09-30 13:41] rdaly525 opened #152 "Convert Lassen to new rebind methodology"
This is referencing https://github.com/cdonovick/peak/pull/102

Summary is that Peak classes in the future will be specified using a single BitVector family. This PEak class can then be "rebound" to other families. This removes the need for any family closure and will move all the magma special casing outside of the Peak class definition.

[2019-10-06 13:33] rdaly525 commented on #152
@rsetaluri could I get an update?

If I recall from Wednesday, the solution was to use a function similar to rebind in order to call magma.circuit.sequential on all the peak classes.

Any issues with this?

[2019-10-09 17:06] Kuree opened #154 "Operand registers not properly clock gated"
Currently the `CE` signal is wired to the tile-level clock-enable signal. Ideally this should be wired to a signal that ands the clock-enable signal and the register mode signal. In other words, we should only use these operand registers if they are intended to be used. Otherwise we will see a significant switching power from these operand registers, which will invalid any design space exploration

[2019-10-09 22:16] leonardt commented on #154
I'm a bit confused, could provide more information/context here? Does this have to do with the lassen/peak description or how the code is compiled to RTL?

From what I can tell, currently the `clk_en` is a top level port to the PE (https://github.com/StanfordAHA/lassen/blob/master/lassen/sim.py#L381). It is passed through to the register mode instances (https://github.com/StanfordAHA/lassen/blob/m

[2019-10-10 00:15] Kuree commented on #154
From what I understand, it has to do with the lassen/peak description. I couldn't understand the generated RTL and I don't know how to modify peak. Here is what I had in mind if it's written in SystemVerilog.

[code]

What's happening right now is
[code]

[2020-10-13 02:18] Kuree opened #178 "Switch to CW floats"
Due to the PD environment change, we no longer support DW float IP. As a result, all the tests need to migrate to CW IPs.

[2020-10-16 20:02] Kuree commented on #178
@jack-melchert
Running regressions with CW IP. Found couple errors with current lassen. There are several failed tests. My guess is they are all related to the same bug.
[code]

[2020-10-16 20:59] jack-melchert commented on #178
Thanks for letting me know, I'll take a look.

[2020-10-16 22:11] Kuree commented on #178
Here is the diff if you want to switch to CW IP:
[code]

[2020-10-26 16:46] jack-melchert commented on #178
https://github.com/rdaly525/coreir/issues/972

CoreIR has the ieee_complicance bit set to false when instantiating the CW and DW fp units. Changing this to 1 fixes this lassen issue.
I'm not sure why it was set to 0 in the first place, but hopefully that will get resolved soon.

[2020-10-26 16:57] rdaly525 commented on #178
Email message from Alex back in June 2019 about this issue:

"Ran synthesis with ieee_compliance on… it increases pe tile area by about 10% , and it also affects our critical path for the PE. It did not meet timing at 454 MHz (2.2ns period), whereas the core without ieee_compliance did.

Alex"

I suspect the reason we wanted to disable denormal numbers was due to the increase in area and longer cr

[2020-10-26 17:01] rdaly525 commented on #178
The PD team should decide if this area/critical path increase is possible before we switch it. Otherwise we should disable any tests that contain denormalized numbers.

[2020-10-26 17:43] Kuree commented on #178
I don't think the test case here is related to denorm issue. `0x8000` is negative 0, a behavior specified by IEEE standard, as seen here: https://en.wikipedia.org/wiki/Signed_zero

The test case basically means if we have `-0 + -0`, we will get `x`.

[2020-10-26 18:40] Kuree commented on #178
Based on CW `fp_add` documentation, when `ieee_compliance=0`, this is expected behavior:
[code]

The documentation also states that `-0` is not a denormal number.

[code]

[2020-10-26 19:21] rdaly525 commented on #178
I see. Are the X's originating from the CW_fp_add module itself? Or are we getting Xs as a result of some logic in lassen

[2020-10-26 19:26] Kuree commented on #178
I did cross-examination on the documentation and waveforms, and I'm leaning towards stating that this is a bug in the `CW_fp_add` simulation IP.

For those of you who have access to Cadence support, this is the link to the [documentation](https://support.cadence.com/apex/techpubDocViewerPage?xmlName=genus_chipwareref.xml&title=Genus%20ChipWare%20IP%20Components%20Guide%20--%20-%20CW_fp_add&hash=pg

[2020-10-26 19:37] Kuree commented on #178
I don't think it's specified anywhere in the documentation. `0x0000 + 0x000` gives correct `z` and `status`.

Here is my take on how to fix this:
1. turn on `ieee_compliance`. this is ideal if timing/area allowed
2. extra logic to gate output to zero if `status` indicates zero.

[2020-10-26 20:10] rdaly525 commented on #178
I suspect 2) would be a cheaper (area/timing) solution. I can stamp out a mux (with +0) in the CoreIR implementation. Tests still might break if they are looking for a -0 though.

[2020-10-26 20:33] Kuree commented on #178
I asked Kathleen to synthesize PE with `ieee_compliance` on. I will report back the result once it's finished.

Did more testing and it seems like `0 + 0` returns `x` as well. `-0 + 0`, however, returns the correct result.

[2020-10-26 21:02] Kuree commented on #178
Targeting at `1.1ns` clock speed, here is the timing/area comparison. Notice that both `CW_fp_add` and `CW_fp_mult` are modified.

TL;DR; timing is similar; area is less than 2% increase.

`ieee_compliance=1`:
- timing:
[code]
- area: 7274.558

`ieee_compliance=0`:
- timing:
[code]
- area: 7151.742

[2020-10-26 22:59] Kuree commented on #178
@rdaly525 I got green light to turn on `ieee_compliance`. Would you please make necessary changes sometime today or tomorrow so that we can test more? Thanks.

[2020-10-27 16:03] rdaly525 commented on #178
https://github.com/StanfordAHA/lassen/pull/179 and https://github.com/rdaly525/coreir/pull/973 have the changes

[2020-10-29 17:22] Kuree opened #180 "CW fp_mult not working properly"
Example:
[code]
Should get `0x8001`, but hardware gives `0x8000`
![image](https://user-images.githubusercontent.com/6099149/97609241-96deae00-19d0-11eb-8d2e-c678fdb77bef.png)

[2020-10-29 18:06] Kuree commented on #180
It turns out 0x8001 is a denormal float. Turning on `iee_compliance` should fix this.

@rdaly525 Can you make necessary changes so that `fp_mult` also has `iee_compliance` turned on?

[2020-10-29 22:07] Kuree commented on #180
Even after turning on `ieee_compliance` for some input vectors it still doesn't work, as shown below:
[code]
It seems to me that the glue logic is wrong in the `float_CW` library.

[2020-11-02 20:39] rdaly525 commented on #180
@cdonovick , I remember you did a very nice breakdown of exactly how the glue logic for bfloat (emulating 7 bits of mantissa with 10 bits) breaks rounding in some cases. If you recall where that is, could you link it?

@Kuree I suspect that we will not be able to handle all rounding cases with the verilog glue logic and therefore will not get bit-precise testing. Nikhil was the originator of this

[2020-11-02 21:36] cdonovick commented on #180
@rdaly525 I don't remember exactly where I broke it down but as I recall we we currently simulating bfloat16 in software by doing:
[code]

This corresponds more or less to:
[code]

While this is correct in most case this is not actually equivalent to:
[code]
As the first round my round up to a point where the second round also rounds up but would not round up on the initial number.

For example co

[2020-11-02 21:46] cdonovick commented on #180
Another options would be just use round toward zero as `round_int(x, RTZ) == round_int(round_tenths(x, RTZ), RTZ)` for all `x`.  (with the caveat that the round functions must be NaN preserving)

[2020-11-19 10:55] Jackwin opened #182 "Errors pop out when run the pytest"
Hi all,
I cloned the Lassen from the master branch and everything seems Okay following the installation steps. But when run the 'pytest tests' command, many errors appear. The summary error info is shown as follows. Is there any extra job that should be done?  Thanks ahead.

ERROR tests/test_complex.py - TypeError: 'NoneType' object is not subscriptable
ERROR tests/test_mapper.py - TypeError: 'Non

[2021-01-29 01:13] rdaly525 opened #184 "Multiplier currently compiles to 32 bit mul when only a 16 bit mul suffices"

[2021-02-03 23:36] rdaly525 opened #185 "Add lassen rewrite rules + generation script to master"

[2021-02-03 23:37] rdaly525 opened #186 "Update lassen to optionally include floating point support"
Change top level lassen to a generator that takes in a parameter indicating FP support.

Most of this code is already in branch garnet-integration

[2021-02-03 23:38] rdaly525 commented on #152
Closing as irrelevant

[2021-02-03 23:38] #152 closed

[2021-02-03 23:39] rdaly525 commented on #149
Closing

[2021-02-03 23:39] #149 closed

[2021-02-03 23:40] rdaly525 opened #187 "Enable CoreIR/verilog optimizations during code generation"

[2021-02-04 01:06] jack-melchert commented on #186
We also want parameters for enabling the registers at the inputs, and the configuration of the registers (config_data, config_addr, and config_en inputs, config_read_data output).

[2021-02-12 02:34] rdaly525 commented on #185
Fixed by #189

[2021-02-12 02:34] #185 closed